body {
    background-color:aliceblue;
    line-height: 30px;
    min-height: 100vh;
}

header {
    letter-spacing: 2px;
    display: flex;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color:blanchedalmond;
    position: sticky;
    top: 0;
    & h1 {
        text-shadow: 2px 2px lightblue;
    }
}

.h-right-container {
    display: flex;
    gap: 15px;
}

.h-right-item a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color:black;
}

.h-right-item a:hover {
    color: blue;
}

.img-container {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    & img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .img-left {
        margin-right: 5px;
    }

    & .img-right {
        margin-left: 5px;
    }
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    & .m-primary {
        display: flex;
        background-image: linear-gradient(white, lightgrey);
        & .m-left-container, .m-right-container {
            border-style: groove;
            flex: 1;
        }
        & .m-left-container {
            color: darkgoldenrod;
            font-family:Arial, sans-serif;
            border-color:aquamarine;
            padding-top: 20px;
            & p {
                word-spacing: 5px;
                font-variant: small-caps;
            }
        }
        & .m-right-container {
            color: purple;
            font-family: fantasy, sans-serif;
            font-weight:bold;
            padding-left: 10px;
        }
    }

    & .m-secondary p {
        transform: scaleY(2.0);
    }
}

input[type=text], input[type=email] {
    accent-color: red;
    border-radius: 5px;
}

.a-container {
    opacity: 0.7;
    position: relative;
    animation: move 30s infinite;
}

@keyframes move {
    0% {
        left: 0px;
    }

    50% {
        left: 100px;
    }

    100% {
        left: 0px;
    }
}